form(method='POST' action='/add_post' enctype='multipart/form-data')
    input(name='name' placeholder='name' type='text')
    br
    input(name='description' placeholder='description' type='text')
    br
    input(name='picture' type='file')
    br
    input(type='submit' value='добавить')